
<form th:action="@{createOrEdit}" th:object="${staff}" method="POST" class="w-100">
	<!-- Modal Header -->
	<div class="modal-header">
		<h4 class="modal-title" th:text="${action}"></h4>
		<button type="button" class="close" data-dismiss="modal">&times;</button>
	</div>
	
	<!-- Modal body -->
	<div class="modal-body">
		<!-- <input type="hidden" name="id" th:field="*{id}"> -->
		
		<div class="form-group">
			<label for="email">Văn phòng:</label> 
			<select th:field="*{departs}" class="custom-select-sm">
				<option 
				th:each="depart : ${departsList}" 
				th:text="${depart.name}"
				th:value="${depart.id}">
				</option>
			</select>
		</div>
		<div class="form-group">
			<label>Họ và tên:</label> 
			<input type="text" class="form-control" th:field="*{name}">
		</div>
		<div class="form-group d-flex">
			<label class="mr-4">Giới tính:</label>
	
			<div class="custom-control custom-radio custom-control-inline">
				<input 
				id="nam"
				type="radio" 
				class="custom-control-input" 
				th:field="*{gender}"
				value="true"> 
				<label class="custom-control-label" for="nam">Nam</label>
			</div>
	
			<div class="custom-control custom-radio custom-control-inline">
				<input 
				id="nu"
				type="radio" 
				class="custom-control-input" 
				th:field="*{gender}"
				value="false">
				<label class="custom-control-label" for="nu">Nữ</label>
			</div>
		</div>
		<div class="form-group">
			<label>Ngày sinh:</label> 
			<input type="date" class="form-control" th:field="*{birthday}">
		</div>
		<div class="form-group">
			<label>Ảnh:</label> 
			<input type="text" id="photo"
				class="form-control" th:field="*{photo}">
		</div>
		<div class="form-group">
			<label>Email:</label> 
			<input type="text" class="form-control" th:field="*{email}">
		</div>
		<div class="form-group">
			<label>Số điện thoại:</label> 
			<input type="text" class="form-control" th:field="*{phone}">
		</div>
		<div class="form-group">
			<label>Địa chỉ:</label> 
			<input type="text" class="form-control" th:field="*{photo}">
		</div>
		<div class="form-group">
			<label>Lương:</label> 
			<input type="text" class="form-control"  th:field="*{salary}">
		</div>
		<div class="form-group">
			<label>Ghi chú:</label> 
			<input type="text" class="form-control"  th:field="*{notes}">
		</div>
	</div>
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<button type="submit" class="btn btn-success">Go</button>
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	</div>


</form>
