<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:object="${depart}" th:action="@{create}">
		<input type="hidden" th:field="*{id}" />
		
		<label>Name</label>
		<input type="text" th:field="*{name}" />
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> name error</span>
		
		<input type="submit" value="Go" />
	</form>
</body>
</html>